<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy - Sucesso!</title>
    <link rel="icon" href="/images/logo-icon.png" />

    <!-- Estilos -->
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/page-success.css">
    <link rel="stylesheet" href="/css/animation.css">

    <!-- Fontes -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="page-success">
      <div id="container">
        <main>
            <h1>Ebaaa!</h1>
            <p>O cadastro deu certo. <br>
            Agora é só esperar :)</p>
            <a href="orphanages">Voltar ao  mapa</a>
        </main>
        <img src="/images/girl.svg" alt="Menina">
      </div>
    </div>
  </body>
</html>
